*.patch
*.diff
.*.swp
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
libtool
ltmain.sh
m4
src/*.o
src/idevicerestore
src/.libs
src/.deps
stamp-h1
